In [1]:
import csv
import pandas as pd
import geopandas as gpd
import json

In [2]:
la_to_phe = gpd.read_file("Local_Authority_District_to_Public_Health_England_Centre_to_Public_Health_England_Region_(December_2019)_Lookup_in_England.geojson")
la_to_phe

,FID,LAD19CD,LAD19NM,PHEC19CD,PHEC19CDH,PHEC19NM,PHEREG19CD,PHEREG19CDH,PHEREG19NM,geometry
0,1,E06000034,Thurrock,E45000017,X25002AG,East of England,E46000002,X25002,Midlands and East of England,None
1,2,E09000001,City of London,E45000001,X25001AA,London,E46000001,X25001,London,None
2,3,E08000007,Stockport,E45000018,X25003AG,North West,E46000003,X25003,North of England,None
3,4,E06000042,Milton Keynes,E45000017,X25002AG,East of England,E46000002,X25002,Midlands and East of England,None
4,5,E08000008,Tameside,E45000018,X25003AG,North West,E46000003,X25003,North of England,None
...,...,...,...,...,...,...,...,...,...,...
312,313,E07000175,Newark and Sherwood,E45000016,X25002AF,East Midlands,E46000002,X25002,Midlands and East of England,None
313,314,E07000176,Rushcliffe,E45000016,X25002AF,East Midlands,E46000002,X25002,Midlands and East of England,None
314,315,E06000031,Peterborough,E45000017,X25002AG,East of England,E46000002,X25002,Midlands and East of England,None
315,316,E06000032,Luton,E45000017,X25002AG,East of England,E46000002,X25002,Midlands and East of England,None
316,317,E06000033,Southend-on-Sea,E45000017,X25002AG,East of England,E46000002,X25002,Midlands and East of England,None

In [3]:
populations = pd.read_csv("population_stats.csv")
populations

,code,name,geography,area (km^2),population
0,K02000001,UNITED KINGDOM,Country,"242,743","66,796,807"
1,K03000001,GREAT BRITAIN,Country,"228,950","64,903,140"
2,K04000001,ENGLAND AND WALES,Country,"151,047","59,439,840"
3,E92000001,ENGLAND,Country,"130,311","56,286,961"
4,E12000001,NORTH EAST,Region,"8,579","2,669,941"
...,...,...,...,...,...
421,N09000006,Fermanagh and Omagh,Local Government District,"2,864","117,397"
422,N09000007,Lisburn and Castlereagh,Local Government District,506,"146,002"
423,N09000008,Mid and East Antrim,Local Government District,"1,059","139,274"
424,N09000009,Mid Ulster,Local Government District,"1,831","148,528"
425,N09000010,"Newry, Mourne and Down",Local Government District,"1,682","181,368"

In [4]:
nhsRegions = set(la_to_phe.PHEC19NM.to_list())
nhsRegions

{'East Midlands',
 'East of England',
 'London',
 'North East',
 'North West',
 'South East',
 'South West',
 'West Midlands',
 'Yorkshire and Humber'}

In [5]:
def get_nhs_region_of(la_name):
    return la_to_phe[la_to_phe.LAD19NM==la_name].PHEC19NM.to_list()[0]

def get_pop_of(la_name):
    return populations[populations.name==la_name].population.to_list()[0]

def get_nhs_region(nhs_region):
    return la_to_phe[la_to_phe.PHEC19NM==nhs_region].LAD19NM.to_list()

In [6]:
T3 = ["Halton", "Knowsley", "Liverpool", "Sefton", "St Helens", "Wirral",
"Blackpool", "Blackburn with Darwen", "Burnley", "Chorley", "Fylde", "Hyndburn", "Lancaster City Council", "Pendle", "Preston", "Ribble Valley", "Rossendale", "South Ribble", "West Lancashire", "Wyre",
"Bolton", "Bury", "Manchester", "Oldham", "Rochdale", "Salford", "Stockport", "Tameside", "Trafford", "Wigan",
"Barnsley", "Doncaster", "Rotherham", "Sheffield",
"Warrington",
"Ashfield", "Bassetlaw", "Broxtowe", "Gedling", "Mansfield", "Newark & Sherwood", "Nottingham", "Rushcliffe",]

T2 = ["Cheshire East", "Cheshire West", "Chester", "Durham", "Bolton", "Bury", "Manchester", "Oldham", "Rochdale", "Salford", "Stockport,&nbsp;Tameside", "Trafford", "Wigan", 
"Leicester", "Oadby and Wigston", "Northumberland", " Barnsley", "Doncaster", "Rotherham", "Sheffield", "Darlington", "Hartlepool", "Middlesbrough", "Redcar and Cleveland", "Stockton-on-Tees", "Gateshead", "Newcastle", "North Tyneside", "South Tyneside", "Sunderland", "Birmingham", "Sandwell", "Solihull", "Wolverhampton", "Walsall", "Bradford", "Calderdale", "Kirklees", "Leeds", "Wakefield",
"Barrow-in-Furness", "Chesterfield", "Erewash", "North East Derbyshire", "Basildon", "Braintree", "Brentwood", "Castle Point", "Chelmsford", "Colchester", "Epping Forest", "Harlow", "Maldon", "Rochford", "Tendring", "Uttlesford. ''Greater London'': City of London", "Barking and Dagenham", "Barnet", "Bexley", "Brent", "Bromley", "Camden", "Croydon", "Ealing", "Enfield", "Greenwich", "Hackney", "Hammersmith and Fulham", "Haringey", "Harrow", "Havering", "Hillingdon", "Hounslow", "Islington", "Kensington and Chelsea", "Kingston upon Thames", "Lambeth", "Lewisham", "Merton", "Newham", "Redbridge", "Richmond upon Thames", "Southwark", "Sutton", "Tower Hamlets", "Waltham Forest", "Wandsworth", "Westminster", "York", "Elmbridge",
"Slough", "Stoke-on-Trent", "Coventry",
"Luton", "Amber Valley", "Bolsover", "Derby", "Derbyshire Dales", "High Peak,South Derbyshire", "East Riding", "Hull", "Telford & Wrekin", "Charnwood", "NE Lincs", "N Lincs", "Oxford", "East Staffordshire", "Lichfield", "Newcastle-under-Lyme", "South Staffordshire", "Stafford", "Stafford Moorlands", "Tamworth", "Dudley",
"Carlisle",]

T2_only = [x for x in T2 if x not in T3]

In [13]:
for nhs_region in nhsRegions:
    la_names = get_nhs_region(nhs_region)
    pop = 0
    pop_in_tier = 0 
    for la_name in la_names:
        try:
            p = int(get_pop_of(la_name).replace(',', ''))
        except Exception as e:
            pass
            #print(la_name, e)
        pop += p
        if la_name in T3:
            pop_in_tier += p
    print(nhs_region, ", %.2f"%(pop_in_tier/pop))

East Midlands , 0.21
North East , 0.00
North West , 0.79
Yorkshire and Humber , 0.26
London , 0.00
West Midlands , 0.00
East of England , 0.00
South East , 0.00
South West , 0.00